{% extends 'base.html.twig' %}

{% block title %}Modification mot de passe
{% endblock %}

{% block content %}

	<h1 class="mt-3">Modification du mot de passe</h1>

<a href="{{path('account')}}">Retour au compte</a>

{{form(form)}}

{% endblock %}
