{% extends 'base.html.twig' %}

{% block title %}Erreur de paiement
{% endblock %}

{% block content %}

	<h2 class="mt-3">Erreur de paiement</h2>


	<p>
		Votre paiement pour la commande n°
		{{order.reference}}
		a échoué</p>

	<br>

	<a href="{{path('order')}}" class="btn btn-success col-12">Réessayer le paiement</a>

{% endblock %}
