{% extends 'base.html.twig' %}

{% block title %}Ma commande
{% endblock %}

{% block content %}

	<h2 class="mt-3">Conformation de commande</h2>

	<p>Votre commande n°
		{{order.reference}}
		est en cours de traitement</p><br><br>


	<p>
		Une confirmation de la commande a été envoyée à l'adresse email :
		{{order.user.email}}</p>
	<p>La commande sera livrée par
		{{order.carrier.name}}</p>
	<p>A l'adresse
		{{order.delivery | replace({'[br]':'<br>'}) | raw }}</p>

{% endblock %}
